.main-wrapper {
  .container {
    .content-alert {
      .alert-danger {
        color: red;
      }
      .alert-success {
        color: green;
      }
    }
    text-align: center;
    padding: 10px;
    color: #3f51b5;
    form {
      .form-group {
        margin-top: 20px;
        .has-error {
          border: 1px solid red;
        }
        label {
          padding: 10px;
          font-size: 20px;
          color: blue;
        }

        label.password {
          padding: 0;
        }
        .form-control {
          text-decoration: none;
          height: 25px;
          letter-spacing: 2px;
          margin: 0 7px;
        }
        .help-block {
          padding-top: 10px;
          color: red;
          font-size: 18px;
        }
        .btn-register,
        .btn-signIn {
          width: 100px;
          height: 32px;
          font-size: 15px;
          font-weight: bold;
          color: #483bbed1;
          margin: 10px;
          border: 1px solid #fdfdfd;
          background: #d2e6e09c;
          letter-spacing: 2px;
        }
        .btn-signIn {
          text-decoration: none;
          padding: 5px;
          font-weight: bolder;
          font-size: 18px;
        }
      }
    }
  }
}
